rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Rules for Teacher Assignments
    match /assignments/{document} {
      allow get: if true;
      allow list, update, delete: if request.auth != null && resource.data.teacherId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.teacherId == request.auth.uid;
    }
    
    // 2. Rules for Student Submissions (Live Session & Team Co-op)
    match /student_submissions/{submission} {
      // Teachers must be logged in to monitor the live session data
      allow read, delete: if request.auth != null;
      
      // Students do not have Firebase Auth (they use localStorage identity). 
      // We allow open writes so they can submit answers real-time.
      allow create, update: if true; 
    }
    
  }
}
