rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() { return request.auth != null; }

    match /assignments/{assignmentId} {
      allow read: if isAuth();
      allow create: if isAuth() && request.resource.data.teacherId == request.auth.uid;
      allow update, delete: if isAuth() && resource.data.teacherId == request.auth.uid;
    }

    match /sessions/{sessionId} {
      allow read: if isAuth();
      allow create: if isAuth() && request.resource.data.teacherId == request.auth.uid;
      allow update, delete: if isAuth() && resource.data.teacherId == request.auth.uid;
    }

    match /student_submissions/{submissionId} {
      allow read: if isAuth();
      allow create: if isAuth() && request.resource.data.studentId == request.auth.uid;
      allow update: if isAuth() && (
        (resource.data.teacherId == request.auth.uid) || 
        (
          (resource.data.studentId == request.auth.uid || request.resource.data.studentName == resource.data.studentName)
          && resource.data.status != 'submitted'
        )
      );
      allow delete: if isAuth() && resource.data.studentId == request.auth.uid;
    }
    match /{document=**} { allow read, write: if false; }
  }
}
